.header {
	background-color: #ffffff;
	transition-property: background-color, padding;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.header.stick {
	padding-top: 0;
	background-color: #ffffff88;
	backdrop-filter: blur(5px);
}

.player {
	width: 100%;
	height: 100%;
	margin: -20px 0;
}

@media screen and (max-width: 600px) {
	.player {
		margin-left: -55px !important;
		width: calc(100% + 110px);
		height: 100%;
	}

	.playercontainer {
		margin-bottom: -80px;
	}
}
