.header {
	background-color: #ffffff;
	transition-property: background-color, padding;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.header.stick {
	padding-top: 0;
	background-color: #ffffff88;
	backdrop-filter: blur(5px);
}

.player {
	width: 100%;
	height: 100%;
	margin: -20px 0;
}

.fullImage {
	border-radius: 8px;
	padding: 8px;
	border: 1px solid rgb(245 56 85);
	background-color: rgba(245, 56, 85, 0.1);
	margin: 1rem 0;
}

.custombasis {
	flex-basis: 23%;
}

@media screen and (max-width: 1000px) {
	.custombasis {
		flex-basis: 31%;
	}
}

@media screen and (max-width: 800px) {
	.custombasis {
		flex-basis: 47%;
	}
}

@media screen and (max-width: 600px) {
	.custombasis {
		flex-basis: 100%;
	}

	.player {
		margin-left: -55px !important;
		width: calc(100% + 110px);
		height: 100%;
	}

	.playercontainer {
		margin-bottom: -80px;
	}
}
