.modalContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    --padding: 16px;
    width: 50%;
    height: 50%;
    background-color: white;
    padding: var(--padding);
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeModalButton {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
}
